# MIRRAX U2D2
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6014", ATTRS{serial}=="FT4NNWDW", SYMLINK+="dynamixel"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6014", ATTRS{serial}=="FT4NNWDW", RUN+="/bin/setserial /dev/dynamixel low_latency"
