<?xml version="1.0" ?>

<launch>
    <arg name="use_imu" default="false"/>
    <arg name="use_lidar" default="false" />

    <param name="gazebo"                   value="false"    type="bool"/>
    <param name="gazebo_robot_name"        value="corin"/>

    <param name="offset_file_path"         value="$(find test_manager)/config/offset.yaml"/>
    <param name="robot_file_path"          value="$(find test_manager)/config/test.robot"/>
    <param name="init_file_path"           value="$(find test_manager)/config/dxl_init.yaml"/>

    <!-- <param name="ft_data_path"             value="$(find thormang3_manager)/config/ft_data.yaml"/>
    <param name="ft_calibration_data_path" value="$(find thormang3_manager)/config/ft_calibration_data.yaml"/> -->

    <!-- imu sensor package -->
    <!-- <include file="$(find imu_3dm_gx4)/launch/imu.launch" if="$(arg use_imu)"/> -->

    <!-- test Manager -->
    <node name="test_manager_node" pkg="test_manager" type="test_manager" output="screen"/>

    <!-- Torque server - enable/disable torque -->
    <!-- <node name="dxl_server" pkg="test_manager" type="torque_server.py" output="screen" args="15.0"/> -->

    <!-- Robot Model & TF -->
    <!-- <include file="$(find thormang3_description)/launch/thormang3_mpc.launch"/> -->
</launch>
