<?xml version="1.0" ?>

<launch>

    <param name="gazebo"            value="false"    type="bool"/>
    <param name="gazebo_robot_name" value=""/>

    <param name="offset_file_path"  value="$(find test_manager)/config/offset.yaml"/>
    <param name="robot_file_path"   value="$(find test_manager)/config/test.robot"/>
    <param name="init_file_path"    value="$(find test_manager)/config/dxl_init.yaml"/>

    <!-- Joint Manager -->
    <node name="dxl_manager_node" pkg="test_manager" type="test_manager" output="screen"/>

    <!-- Torque server - enable/disable torque -->
    <node name="dxl_server" pkg="test_manager" type="torque_server.py" output="screen" args="15.0"/>

</launch>
